:root {
  --color-very-pale-blue: hsl(225, 100%, 98%);
  --color-pale-blue: hsl(225, 100%, 94%);
  --color-bright-blue: hsl(245, 75%, 52%);
  --color-desaturated-blue: hsl(224, 23%, 55%);
  --color-dark-blue: hsl(223, 47%, 23%);
}

body {
  background: url('./images/pattern-background-desktop.svg')
    var(--color-pale-blue) repeat-x;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
}

@media screen and (max-width: 375px) {
  .card {
    max-width: 95%;
  }

  body {
    background: url('./images/pattern-background-mobile.svg')
      var(--color-pale-blue) no-repeat;
  }

  .card .card-body {
    padding: 18px;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  height: 95vh;
}

/* CARD */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  color: var(--color-desaturated-blue);
  background-color: white;
  max-width: 400px;
}

img {
  border-radius: 8px 8px 0 0;
}

.card p {
  font-weight: 500;
}

.card-body {
  padding: 8px 36px;
  text-align: center;
}

h1 {
  font-weight: 900;
  color: var(--color-dark-blue);
  font-size: 1.5rem;
}

button {
  display: block;
  width: 100%;
  margin-bottom: 18px;
  cursor: pointer;
  padding: 12px;
  font-weight: 700;
}

button.primary {
  background-color: var(--color-bright-blue);
  border: none;
  border-radius: 8px;
  color: var(--color-very-pale-blue);
  box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.2);
}

button.primary:hover {
  opacity: 65%;
}

button.secondary {
  border: none;
  background-color: transparent;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-desaturated-blue);
}

button.secondary:hover {
  color: var(--color-dark-blue);
}

.plan {
  background-color: var(--color-very-pale-blue);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  margin-bottom: 16px;
  padding: 4px;
}

.plan p {
  text-align: left;
}

.plan p span {
  color: var(--color-dark-blue);
  font-weight: 700;
}

.plan a {
  color: var(--color-bright-blue);
}

.plan a:hover {
  opacity: 60%;
  text-decoration: none;
}

/* ATTRIBUTIONS */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--color-bright-blue);
}
